* {
    color: #333;
}

@font-face {
    font-family: Jura;
    src: url("../fonts/Jura-Medium.ttf");
    /* src: url("../fonts/Jura-VariableFont_wght.tff"); */
}

@font-face {
    font-family: Jeko DEMO;
    src: url("../fonts/JekoDEMO-Medium.otf");
    /* src: url("../fonts/Roboto-Medium.tff"); */
}
@font-face {
    font-family: Jeko DEMO Extrabold;
      src: url("../fonts/JekoDEMO-ExtraBold.otf");
}

/* Header CSS start */

header#header .header-top {
    background-color: #333333;
    border-top: 4px solid #E28430;
    padding: 0 60px;
}

header#header .header-top > .container-fluid > div:first-of-type {
    align-items: center; 
    display: flex;
}

header#header .header-top #_desktop_top_menu {
    padding: 0;
}

header#header .header-top #_desktop_top_menu > ul > li {
    padding: 30px 24px;
}

header#header .header-top #_desktop_top_menu > ul > li#category-136:hover,
header#header .header-top #_desktop_top_menu > ul > li#category-136 > .sub-menu {
    background-color: #e28430;
}

header#header .header-top #_desktop_top_menu > ul > li#category-137:hover,
header#header .header-top #_desktop_top_menu > ul > li#category-137 > .sub-menu {
    background-color: green;
}


header#header .header-top #_desktop_top_menu > ul > li > a[data-depth="0"]:hover {
    color: #fff;
}

header#header .header-top #_desktop_top_menu .sub-menu {
    box-shadow: 0 12px 11px 2px rgba(0,0,0,.1);
    margin: 0;
    padding: 15px;
    top: 84px !important;
    width: 100%;
}

header#header .header-top #_desktop_top_menu .sub-menu a {
    color: #fff !important;
}

#header .header-top a[data-depth="0"] {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0;
}

#header .header-top ul[data-depth=1] > li:last-of-type a[data-depth="0"] {
    margin: 0;
}

body.page-index li,
#header .header-top li#lnk-home a {
    color: #E28430;
}

.header-rightnav-wrapper {
    align-items: center;
    display: flex;
    justify-content: right;
}

.header-top #search_widget {
    margin-right: 10px;
    min-width: auto;
}

.header-top #search_widget form > i.search {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    left: 4px;
    top: 4px;
}

.header-top #search_widget form > input[type=text] {
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 0;
    width: 40px;
    height: 40px;
    transition: width, font-size .3s;
    float: right;
}

.header-top #search_widget form > input.fullwidth {
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    font-size: inherit;
    padding: 10px 20px 10px 40px;
    width: 100%;
}

#header #_desktop_user_info .user-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#header #_desktop_cart *,
#header #_desktop_user_info * {
    color: #fff;
    font-size: 14px;
}

#header #_desktop_cart a,
#header #_desktop_user_info a:not(.logout),
#call-btn-wrapper {
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 8px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

#header #_desktop_cart .cart-products-count {
    background: #E28430;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -5px;
    width: 20px;
    height: 20px;
    text-align: center;
}

#header #_desktop_cart a > i,
#header #_desktop_user_info a:not(.logout) > i,
#call-btn-wrapper > i {
    color: #fff;
    font-size: 18px;
}

#call-btn-wrapper {
    margin-left: 40px;
}

.header-rightnav-wrapper .block-social {
    float: none;
    padding-right: 0;
    width: auto;
}

.header-rightnav-wrapper .block-social > ul {
    margin: 0;
}

.header-rightnav-wrapper .block-social ul li {
    background-color: transparent;
    background-size: contain;
    color: #fff;
    margin-left: 12px;
    margin-right: 0;
    height: 18px;
    width: 18px;
}

#header .instagram {
    height: 21px;
    width: 21px;
}

#header .tiktok {
    background-image: url(../css/tiktok-icon.svg);
    background-position: center center;
    filter: invert(1);
    height: 15px;
    width: 15px;
    position: relative;
    top: 3px;
    margin-left: 10px;
}

#wrapper {
    background-color: #fff;
    padding-top: 36px;
}

.padded-container {
    padding-left: 60px;
    padding-right: 60px;
}

/* Home css */

#home-banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: space-between;
}

#home-banner-wrapper div {
    width: calc(50% - 18px);
}

#home-banner-wrapper div:first-child {
    width: 100%;
}

#home-banner-wrapper img {
    border-radius: 36px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 85%;
    width: 100%;
}

#home-banner-wrapper > div:not(:first-child) img {
    height: 360px;
}

body#index .featured-products > h2,
#ohm-productsdisplay-wrapper > h2 {
    color: #E28430;
    font-family: 'Jura';
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0 15px;
    text-align: center;
    text-transform: capitalize;
}

body#index .featured-products > p,
#ohm-productsdisplay-wrapper > p {
    color: #333;
    font-family: Jeko DEMO;
    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
}

.p-listing-styled .product-miniature {
    padding-right: 20px;
}

.p-listing-styled .thumbnail-container {
    width: 100%;
}

.p-listing-styled h3.product-title {
    margin-bottom: 4px;
    text-align: left;
}

.p-listing-styled h3.product-title > a {
    color: #333;
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
}

.p-listing-styled .p-listing-cat-name,
.p-listing-styled span.price {
    color: #E28430;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.p-listing-styled form#add-to-cart-or-refresh {
    width: 100%;
}

.p-listing-styled span.price {
    font-size: 17px;
}

.p-listing-styled .product-miniature .product-price-and-shipping {
    display: flex;
    align-items: center;
    gap: 20px;
}

.p-listing-styled button.add-to-cart,
.p-listing-styled .btn-request-qoute {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 30px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    color: #333;
    font-size: 14px;
    padding: 12px 60px;
    text-transform: capitalize;
    width: 100%;
}

.p-listing-styled li.out_of_stock {
    background: #E28430;
    border-radius: 0 30px 30px 0;
    font-size: 12px;
    margin-top: 20px;
    padding: 4px 10px;
}

.p-listing-styled .btn-request-qoute {
    width: 100%;
}

/* Category page product css */

body#category .p-listing-styled {
    margin-bottom: 30px;
    width: 25%;
}

body#category .block-category {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: auto;
    padding: 30px 0 15px;
}

body#category .block-category h1 {
    color: #e28430;
    font-family: Jura;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

body#category .sc-title-wrapper {
    color: #333;
    font-family: Jura;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

body#category .productsrow-custom-wrapper {
    margin-bottom: 15px;
}

body#category .noproductsyet {
    margin-bottom: 45px;
}

.ohmfiltercategory {
    position: relative;
}

.ohmfiltercategory > button {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 30px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 50px;
    text-transform: capitalize;
}

.ohmfiltercategory > button.activee {
    background-color: #e28430;
    border: none;
    color: #fff;
    outline: none;
}

.ohmfiltercategory > button:focus,
.ohmfiltercategory > button:hover {
    background-color: #e28430;
}

.ohmfiltercategory .dropdown-menuwrapper {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-width: 240px;
    padding: 15px;
    position: absolute;
    right: 0;
    width: 300px;
    transition: .5s ease;
}

.ohmfiltercategory .dropdown-menuwrapper > p {
    color: #333;
    font-family: Jura;
    font-size: 16px;
    font-weight: 700;
}

.ohmfiltercategory .form-group:not(:last-of-type) {
    margin-bottom: 15px;
}

.ohmfiltercategory .form-group label {
    align-items: start;
    display: flex;
    gap: 28px;
    position: relative;
    text-align: left;

}

.ohmfiltercategory .form-group input {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
}

.ohmfiltercategory .ui-accordion .ui-accordion-content {
    padding-left: 15px;
    padding-right: 15px;
}

.ohmfiltercategory .ui-accordion-header {
    border: none;
    border-bottom: 1px solid #7a7a7a1f;
    background: transparent;
    border-radius: 0;
    color: #333;
    font-family: Jura;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0.5em;
}

.ohmfiltercategory .ui-accordion-header-active {
    border: none;
}

.ohmfiltercategory .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: auto;
    right: 0;
}

.ohmfiltercategory .ui-accordion-content {
    border: none;
}


/* module: ohmproductsdisplay */

#ohm-productsdisplay-wrapper {
    margin-top: 52px;
    margin-bottom: 120px;
}

#ohm-productsdisplay-wrapper .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin-top: 40px;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper {
    position: relative;
    border: 1px solid #D7D7D7;
    border-radius: 22px;
    padding: 25px 18px 118px;
    width: calc((100% / 4) - 36px);
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    overflow: hidden;
}

#ohm-productsdisplay-wrapper .voir-diplayproducts {
    color: #333 !important;
    background: #fff;
    border-radius: 25px;
    font-size: 13px;
    padding: 8px 15px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

#ohm-productsdisplay-wrapper .voir-diplayproducts > i {
    position: absolute;
    right: -5px;
    font-size: 46px;
    top: -4px;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper:hover:before {
    content: '';
    background-color: #E28430;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 22px;
    opacity: 0.9;
    z-index: 1;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper:hover img {
    position: relative;
    transform: scale(1.3);
    z-index: 0;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper:hover h3,
#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper:hover div.wrppr > a {
    color: #fff;
    position: relative;
    z-index: 1;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper:hover div.wrppr {
    border: none;
    transform: translate3d(0, 55%, 0);
    -webkit-transform: translate3d(0, 55%, 0);
    -moz-transform: translate3d(0, 55%, 0);
    -ms-transform: translate3d(0, 55%, 0);
    -o-transform: translate3d(0, 55%, 0);
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper h3 {
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper img {
    height: 230px;
    object-fit: contain;
    transition: .3s ease;
    width: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper > div.wrppr {
    border-top: 1px solid #D7D7D7;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 16px;
    padding: 16px 18px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 600ms;
    transform: translate3d(0, 72%, 0);
    -webkit-transform: translate3d(0, 72%, 0);
    -moz-transform: translate3d(0, 72%, 0);
    -ms-transform: translate3d(0, 72%, 0);
    -o-transform: translate3d(0, 72%, 0);
    z-index: 1;
    -webkit-transition: transform 600ms;
    -moz-transition: transform 600ms;
    -ms-transition: transform 600ms;
    -o-transition: transform 600ms;
}

#ohm-productsdisplay-wrapper .ohmdisplayproducts-wrapper > div a {
    color: #333;
}

/* Footer CSS start */

#footer {
    padding: 0 30px;
}

#footer .footer-container * {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

#footer > .container-fluid {
    padding: 0 30px;
}

#footer .footer-container {
    padding: 80px 0 50px;
}

.partners-quality-wrapper {
    margin-top: 60px;
    margin-bottom: 50px;
}

.footer-partners-wrapper {
    margin-top: 50px;
}

.footer-partners-wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-partners-wrapper img {
    height: 80px;
    object-fit: contain;
}

.footer-partners-wrapper img._reduce_width {
    width: 140px;
}

.h2-orange {
    color: #E28430;
    font-family: Jura;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.h-sub-black {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

#footer .blockreassurance {
    background: #F4F4F4;
    border-radius: 30px;
    padding: 60px 40px;
}

#footer .blockreassurance > .row > div {
    align-items: baseline;
    display: flex;
    gap: 15px;
}

#footer .blockreassurance .reassu-text * {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-align: left;
}

#footer .blockreassurance img {
    height: 50px;
    width: 50px;
}

#footer .blockreassurance .block-title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 13px;
}


#footer p.h3 {
    font-style: normal;
    font-weight: 800;
}

#footer #contact-infos img {
    margin-bottom: 30px;
}

#footer #contact-infos p {
    margin-bottom: 12px;
}


/* Media queries */

@media(max-width: 1440px) {
    
}
